
<!--access to multiple template elements-->

<ul>
    <li *ngFor="let plant of plants"
    (click)="showPlant(plant)" #pl>{{plant.name}}</li>

    <p class="bold">Всего {{lcount}} растений</p>

</ul>

<!--end access to multiple template elements-->

<hr>

<!--access to templates elements-->

<h1>Садовые растения</h1>
<ul>
    <li *ngFor="let plant of plants"
        (click)="showPlant(plant)">{{plant.name}}</li>
</ul>
<app-plant-detail></app-plant-detail>

<!--end access to templates elements-->

<hr>

<!--event creation at components-->

<app-some (someevent)="doSomething($event)">
    <h3>Список новых растений</h3>

</app-some>

<!--end event creation at components-->

<hr>

<!--software style indication-->
<p [class]="cls">Садовое растение</p>
<p [class.highlighted]="flag" (click)="flag=!flag">Садовое растение</p>

<hr>
<p>
    <input type="button" value="полужирный"
    (click)="par.bold = !par.bold">
    <input type="button" value="курсив"
    (click)="par.italic = !par.italic">
</p>
<p [ngClass]="par">Пример текста</p>

<hr>
<p [ngClass]="cls2">Садовое растение</p>
<!--end software style indication-->

<hr>

<p>Цвет в формате RGB: <input [(ngModel)]="color"></p>
<p [style.background-color]="color">{{color}}</p>

<hr>

<p>Размер шрифта, px.: <input [(ngModel)]="fontSize"></p>
<p [style.font-size.px]="fontSize">{{fontSize}}</p>

<hr>

<p>Директива описания стиля [ngStyle]  имеет смысл применять, если нужно задать для элемента сложный стиль</p>
<p>Цвет в формате RGB:
    <input [(ngModel)]="par['background-color']">
</p>
<p>Размер шритфа, px.:
    <input [(ngModel)]="par['font-size.px']">
</p>
<p [ngStyle]="par">{{par['background-color']}}
    {{par['font-size.px']}}
</p>

<!--use of event object-->
<div class="tracker"
    (mousemove)="x.textContent = $event.offsetX;
                 y.textContent = $event.offsetY"></div>
<p>X: <span #x></span></p>
<p>Y: <span #y></span></p>

<!--end use of event object-->
<hr>

<!--

<form>
  <p>Название: <input [(ngModel)]="temp.name" name="name"></p>
  <p>Описание: <input [(ngModel)]="temp.description" name="description"></p>
  <p>Цена: <input [(ngModel)]="temp.price" name="price"></p>


  <p><input type="submit" value="Сохранить" (click)="save()"></p>
  <p><input type="button" value="Отмена" (click)="cancel()"></p>

</form>

-->

<h1>Садовые растения</h1>
<ul>
  <li *ngFor="let plant of plants"
      (click)="detail.plant = plant"
        >{{plant.name | uppercase}}</li>
</ul>

<app-plant-detail #detail></app-plant-detail>

<!--

<div [ngSwitch]="plants.length">
    <p *ngSwitchCase="0"> нету растений</p>
    <p *ngSwitchCase="1"> одно растение</p>
    <p *ngSwitchDefault>Много растений</p>
</div>
-->

<!--

<h5>testing</h5>
<ng-template #plantkindlist>
    <ul>
        <li>Розоцветные</li>
        <li>Луковичные</li>
        <li>Хвойные</li>
    </ul>
</ng-template>
<ng-container *ngTemplateOutlet="plantkindlist"></ng-container>


&lt;!&ndash;use nested template&ndash;&gt;
<ng-template #plantdetail let-name="name">
    <p>{{name}}</p>
</ng-template>

<div *ngFor="let plant of plants">
    <ng-container *ngTemplateOutlet="plantdetail; context: plant"></ng-container>
</div>
&lt;!&ndash; end use nested template&ndash;&gt;


&lt;!&ndash; *ngIf then else&ndash;&gt;
<h3>ngIf then else</h3>
<p *ngIf="plants.length == 0; else plantlist">растений нет</p>
<ng-template #plantlist>
    <span *ngFor="let plant of plants">{{plant.name}} </span>
</ng-template>

&lt;!&ndash; else *ngIf then else&ndash;&gt;

&lt;!&ndash;insert HTML code from component&ndash;&gt;
<p [innerHTML]="language"></p>
-->


<!--input form-->
<input type="radio" [(ngModel)]="kind" name="kind" value="garden">садовое растение
<input type="radio" [(ngModel)]="kind" name="kind" value="room">комное растение

<select size="1" [(ngModel)]="kind" name="kind" >
    <option value="garden">садовое растение</option>
    <option value="room">комнатное растение</option>
</select>
<!--end input form-->


<!--receiving data in the template code-->
<h3>v.1</h3>
<form #plantform="ngForm">
    <p>Введите название: <input [(ngModel)]="testPlant.name" name="name"></p>
</form>
<p>проверьте введенное название: {{plantform.value.name}}</p>


<h3>v.2</h3>
<form>
    <p>Введите название: <input [(ngModel)]="testPlant.name" name="name" #plantname="ngModel"></p>
</form>
<p>проверьте введенное название: {{plantname.value}}</p>
<!--end receiving data in the template code-->
