<!--

<h1>{{plant.name}}</h1>
<h2>{{plant.price | currency:'USD':true}}</h2>
<p>{{plant.description}}</p>

-->
<!--

<form>
  <p>Название: <input [(ngModel)]="temp.name" name="name"></p>
  <p>Описание: <input [(ngModel)]="temp.description" name="description"></p>
  <p>Цена: <input [(ngModel)]="temp.price" name="price"></p>


  <p><input type="submit" value="Сохранить" (click)="save()"></p>
  <p><input type="button" value="Отмена" (click)="cancel()"></p>

</form>

-->

<h1>Садовые растения</h1>
<ul>
  <li *ngFor="let plant of plants">{{plant.name}}</li>
</ul>