
$grey: LightGrey;

ul {
  list-style-type: none;
  padding-left: 0px;
  font-style: large;
  max-width: 400px;

  li {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border: $grey 3px solid;

    &:hover{
      background-color: $grey;
    }
  }
}

.tracker{
  background-color: LightGrey;
  width: 300px;
  height: 200px;
}

//software style indication
.highlighted{
  color: yellow;
}
.special{
  background: blue;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}

//end software style indication