
<!--

<form>
  <p>Название: <input [(ngModel)]="temp.name" name="name"></p>
  <p>Описание: <input [(ngModel)]="temp.description" name="description"></p>
  <p>Цена: <input [(ngModel)]="temp.price" name="price"></p>


  <p><input type="submit" value="Сохранить" (click)="save()"></p>
  <p><input type="button" value="Отмена" (click)="cancel()"></p>

</form>

-->

<h1>Садовые растения</h1>
<ul>
  <li *ngFor="let plant of plants"
      (click)="detail.plant = plant"
        >{{plant.name | uppercase}}</li>
</ul>

<app-plant-detail #detail></app-plant-detail>


<div [ngSwitch]="plants.length">
    <p *ngSwitchCase="0"> нету растений</p>
    <p *ngSwitchCase="1"> одно растение</p>
    <p *ngSwitchDefault>Много растений</p>
</div>


<h5>testing</h5>
<ng-template #plantkindlist>
    <ul>
        <li>Розоцветные</li>
        <li>Луковичные</li>
        <li>Хвойные</li>
    </ul>
</ng-template>
<ng-container *ngTemplateOutlet="plantkindlist"></ng-container>


<!--use nested template-->
<ng-template #plantdetail let-name="name">
    <p>{{name}}</p>
</ng-template>

<div *ngFor="let plant of plants">
    <ng-container *ngTemplateOutlet="plantdetail; context: plant"></ng-container>
</div>
<!-- end use nested template-->


<!-- *ngIf then else-->
<h3>ngIf then else</h3>
<p *ngIf="plants.length == 0; else plantlist">растений нет</p>
<ng-template #plantlist>
    <span *ngFor="let plant of plants">{{plant.name}} </span>
</ng-template>

<!-- else *ngIf then else-->

<!--insert HTML code from component-->
<p [innerHTML]="language"></p>